@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fredoka One';
  src: url('../assets/Fredoka_One1/FredokaOne-Regular.ttf') format('truetype');
}


body {
  background: linear-gradient(to bottom, transparent, rgb(80, 52, 121))
    rgb(0, 0, 0);
}
